body {

}

header {

}

h1, h2, h3, h4 {

}

.main {

  .summaries, .location {
    
    .section {
      display: inline-block;
    }
  }

  .crimes {
    font-family: courier, serif;
    font-size: 0.6em;
  }

}

footer {

}